name: Update Trending Playlist

on:
  schedule:
    - cron: "0 0 7 * * *"
    - cron: "30 5 12 * * *"
    - cron: "0 11 18 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Update Script
        env:
          YOUTUBE_CLIENT_ID: ${{ secrets.YOUTUBE_CLIENT_ID }}
          YOUTUBE_CLIENT_SECRET: ${{ secrets.YOUTUBE_CLIENT_SECRET }}
          YOUTUBE_REFRESH_TOKEN: ${{ secrets.YOUTUBE_REFRESH_TOKEN }}
          PLAYLIST_TITLE: Trending Music NT01
          PLAYLIST_DESCRIPTION: Tự động cập nhật Trending Music
        run: python main.py
